*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

div{
    height: 90vh;
    width: 90vw;
    /* border: solid white; */
    margin: auto;
    margin-top: 35px;
    animation: disco 2s infinite;
}

@keyframes disco{

    0%{
        background-color: #B100E8;
    }

    25%{
        background-color: #FF69B4;
        transform: scale(0.95) skewX(20deg) rotate(20deg);
    }

    50%{
        background-color: #39FF14;
        transform: scale(0.85) skewY(20deg) rotate(40deg);
    }

    75%{
        background-color: #7DF9FF;
        transform: scale(0.95) skewX(20deg) rotate(800deg);
    }

    100%{
        background-color: #B100E8;
    }
}